.end-exam-modal {
  .modal-header {
    h5 {
      color: #EB5757;
    }
  }
  .modal-body {
    p {
      font-size: 14px;
    }
  }
  .modal-footer {
    .confirm-end{
      background-color: #EB5757;
    }
  }
}