header {
  position: fixed !important;
  height: 5rem;
  margin: 0 !important;
  background: #ffffff;
  /* main shadow */
  box-shadow: $main-shadow;
  z-index: 5;

  .admin-logo {
    h5 {
      margin-right: 4rem;
      font-weight: bold;
    }
  }

  .student-photo {
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: 4rem;
    top: 29%;
    border-radius: 50%;
    background: url(../images/41688312_2237125146316321_1931414181324521472_o.jpg);
    background-size: cover;
    /* main */
    z-index: 5;
    border: 1px solid $main-color;
  }
}
